[submodule "sources/External/imgui"]
	path = sources/External/imgui
	url = https://github.com/ocornut/imgui/
[submodule "src/External/glm"]
	path = src/External/glm
	url = https://github.com/g-truc/glm
