[submodule "external/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui/
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
